@import 'tailwindcss';

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --color-background: #282828; 
  --color-card: #3c3836;       
  --color-inside: #504945;     
  --color-gtext: #ebdbb2;      
  --color-accent: #d79921;     
  --color-accent-soft: #fabd2f;
  --color-muted: #a89984;      
  --color-line: #665c54;       
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-gtext);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
